.customModal {
  width: 404px;
  border-radius: 5px;
  background-color: var(--white-color);
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.customModal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customModal__header > p {
  font-weight: 600;
  font-size: 21px;
}

hr {
  margin: 20px 0;
  background-color: var(--black-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .customModal {
    width: 300px;
    transition: 0.4s all ease-in;
  }
}
