.sidebar__container {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  transition: 0.3s ease-in-out;
}

.sidebar__closeButton {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.sidebar__closeButton > svg {
  color: var(--white-color);
}

.sidebar__wrapper {
  color: var(--white-color);
  display: grid;
  place-items: center;
}

.sidebar__wrapper > .custombutton {
  margin: 20px 0;
  cursor: pointer;
}

.sidebar__wrapper > div {
  margin: 20px 0;
  background-color: var(--button-color);
  padding: 12px;
  color: var(--white-color);
  border-radius: 2px;
  cursor: pointer;
}

.sidebar__wrapper label {
  color: var(--white-color);
  margin: 20px 0;
  cursor: pointer;
}

.sidebar__wrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.sidebar__menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 80px);
  text-align: center;
}

.sidebar__menu > li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .sidebar__menu {
    grid-template-rows: repeat(4, 80px);
  }
}
