.homepage {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.homepage__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.homepage__wrapper .homepage__sidebar {
  height: 900px;
  width: 326px;
  background-color: var(--bg-color);
  padding: 0 24px;
}

.homepage__wrapper .homepage__sidebar > p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-top: 16px;
}

.sidebar__elementContainer {
  margin-top: 16px;
}

/* App.css */

.app {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.sidebar div {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  cursor: move;
}

.page {
  position: relative;
  flex-grow: 1;
}

.element {
  position: absolute;
  padding: 10px;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
}

.element.selected {
  border: 2px solid red;
}

/* Add your modal styles here */

/* Add any additional styles based on your design */
