.custombutton {
  width: 140px;
  text-align: center;
  background-color: var(--button-color);
  padding: 12px 8px;
  border-radius: 2px;
  cursor: default;
  outline: none;
  border: none;
}

.custombutton > p {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
}
